---
layout: posts
title: "Crashed"
---

<!-- ----------------------------------------------------------------------------- -->
<!-- ----------------------------------------------------------------------------- -->
<h2>Crashed - Wie die Finanzkrise die Welt verändert hat,</h2>
<h3> von Adam Tooze</h3>
<h3>Pantheon Verlag, 2019 (2018)</h3>

<P> Das Buch ist eine Nacherzählung nicht aller, aber vieler der
  Krisen, die die Welt seit 2007 heimgesucht hat. Da ich diese Krisen
  alle mehr oder weniger bewusst mitverfolgt hatte, stellt das Buch
  ein interessantes Wiedererinnern und Neubewerten dar. Manches wird
  so geschildert, wie ich es auch im Gedächtnis habe, doch anderes
  hatte ich damals anders eingeschätzt. </P>

       {% include image.html url="/assets/images/Crashed.jpg"
    description=""  width="300px"
    align="left" %}

<P>
  Mit über 700 Seiten
  ist es eine recht detaillierte Nacherzählung; so detailliert, dass
  ich Mühe habe, die Hauptthese zu identifizieren. Ehrlich
  gestanden vermute ich, dass ich nicht alle Punkte, die Tooze
  herausarbeiten wollte, auch tatsächlich als solche identifiziert
  habe. Doch ein Zentralthema des Buches ist, dass die Finanzkrise
  2008/2009 eine Reihe von Langzeitfolgen hat. Diese Schockwirkungen
  dauern immer noch an und es ist nicht abzusehen, wann die
  Nachwirkungen abebben. Aus der Subprime Krise entwickelte
  sich eine Transatlantische Bankenkrise, die in eine
  Staatschuldenkrise und die Eurokrise mündeten. All dies bewirkte eine
  Steigerung der Ungleichheiten in den Gesellschaften und das
  Erstarken extremer politischer Bewegungen am linken und rechten Rang
  und der dramatischen Vergrößerung der nationalistischen Populisten
  in Europa und den USA. Es ist tatsächlich plausibel dass es Trump,
  Brexit und die AFD heute ohne die Finanzkrise 2008 so nicht geben
  würde.</P>

<P>
  Das Buch Mitten in der eskalierenden Anfangsphase der Corona
  Pandemie lesend, überlege ich mir schaudernd, welche Mittel- und
  Langzeitfolgen der Virus haben wird. Als 2007 die Subprime Woge
  ihren Anfang nahm, hatte auch niemand vermutet, dass sie 
  Jahre später in den Bankrott Griechenlands mündet  und als Folge
  davon die  Eurozone am Rand des Abgrunds manövriert.</P>

<P>
  Ein Punkt, der mir zu jener Zeit gar nicht bewusst war, ist der
  transatlantische Charakter der Bankenkrise 2008/2009. Genauso wie
  die amerikanischen Banken waren alle großen europäischen Banken
  betroffen und involviert. Auch diese hatten maßlos
  überdimensionierte Bilanzsummen, die aus der Begierde nach extrem
  hohen Gewinnen, für Banken und Banker, gewachsen waren. Große
  Risiken wurden eingegangen um große Gewinne zu
  erzielen. Isländische und irländische Banken hatten, im Vergleich zu
  deren Nationalwirtschaften, absurd hohe Bilanzsummen.  Aber auch die
  Bilanzen der britischen, spanischen, französischen, schweitzer,
  deutschen und österreichischen Banken waren maßlos überdimensioniert
  und zum Fürchten. </P>

<P> Ein weiterer Interessanter Punkt, der sich daraus
  ergibt, ist die Beobachtung, dass die US Regierung und die Fed nach
  anfänglichem Zögern und Zaudern sehr entschlossen und effizient
  nicht nur den amerikanischen Banken und Firmen halfen,
  sondern über unbegrenzt zur Verfügung gestellte Dollar Liquidität
  auch den europäischen und asiatischen Banken das Überleben
  ermöglichten. In starkem Kontrast dazu haben die europäischen Regierungen und
  die EZB jahrelang am Abgrund laboriert, ohne die grundlegenden
  Probleme je grundsätzlich und mit genügend Mitteln anzugehen. Das
  Ergebnis war, dass sich die US Wirtschaft relativ rasch wieder
  erholte, während Europa sich fast zehn Jahre lang von einer Krise
  in die nächste schleppte.  </P>

<P>
  Ein Beispiel für die ideologische Verkrampfung und selektive Blindheit der
  europäischen Krisenbekämpfung ist der Verlauf der Eurokrise mit
  Deutschland, Frankreich, EZB, IMF, Griechenland, Spanien, Portugal und Irland
  als Hauptakteure. Die Politik der Troika (EU, EZB, IMF) zur Euro und Griechenlandkrise
  nahm an, dass der Multiplikator der Budgekürzungen  0,5 wäre, alse
  der Faktor mit dem sich 1 Euro Budgetkürzung auf das
  Bruttonationalprodukt der Volkswirtschaft auswirkt:
  "Während sie [IMF Mitarbeiter] zu Begin der Krise geglaubt
  hatten, der Multiplikator betrage im Durchschnitt rund 0,5
  Prozent[punkte], gelangten sie jetzt [Sommer 2012] zu dem Schluss, dass
  er ab 2012 größer als 1 gewesen sei. Dies bedeutete, dass die
  Kürzung der Staatsausgaben um 1 Euro die Wirtschaftsleistung um
  mehr als 1 Euro verringern würde." (Seite 499) D.h. das Sparprogramm war
  kontraproduktiv und <bf>verminderte</bf> die Fähigkeit Griechenlands
  dramatisch, die Schulden zu tragen, Diese Fehlannahme war zum
  Nachteil für beide, Gläubiger und Schuldner. Der von der Troika vorgeschriebene und
  erzwungen Kurs erwies sich als schädlich. Er wurde trotzdem noch
  Jahre danach engstirning beibehalten, und bis heute geben
  Schlüsselpersonen des damaligen Geschehens, wie Schäuble und Merkel,
  dies nicht zu; und möglicherweise sehen sie diesen Fehler immer noch
  nicht ein. </P>

<P>
  Auch wenn Tooze dies so explizit nicht schreibt, ist ein Kernthema
  des Buches die systematische Fehleinschätzung der Eliten aufgrund
  einer Mischung aus egoistischem Eigeninteresse und einer
  ideologisierten Gruppenmeinung, die nicht offen in Frage gestellt
  werden konnte. Zur Illustration sollen zwei Beispiele dienen:</P>

<P>
  Im Jahr 2007 war Allen Greenspan gefragt worden, welchen Kandidaten
      er bei der bevorstehenden Präsidentschaftskandidatur
      unterstützen würde. Seine Antwort (Seite 662) lautete:
      'Es spiele keine Rolle, wem er seine Stimme gebe, erklärte
      Greenspan, weil "(wir) das Glück haben, dass die politischen
      Beschlüsse in den USA dank der Globalisierung größtenteils durch
      die Marktwirkung ersetzt wurden. Mit Ausnahe des Themas der
      sozialen Sicherheitspolitik spielt es kaum eine Rolle, wer der
      nächste Präsident wird. Die Welt wird durch Marktkräfte
      regiert."' Bis zum Jahr 2016 revidierte Greenspan seine
      Meinung: er warnte, das '"wirtschaftliche und politiche Umfeld"
      sei bei weitem das schlimmste, mit dem er jemals "auch nur im
      entferntesten zu tun gehabt hatte." Er war tief besorgt über die
      Gefahr, dass "Verrückte" Amerika zersetzen könnten.' (Seite 663)</P>

<P>
  Nach Syriza's Wahlsieg bei einem Eurogruppentreffen im Feber 2015
  sagte Schäuble to Varoufakis: 'Varoufakis müsse verstehen, dass man, was die Grundlage der
      Eurogruppe anlange, es nicht zulassen könne, dass "Wahlen die
      Wirtschaftspolitik beeinflussen"' (Seite 604). Diese Einstellung, die
      Deutschland konsistent und unbeirrbar gegenüber Griechenland
      über Jahre hinweg vertrat, ist aus demokratischer Sicht
      frevelhaft und, wenn man die Tatsachen in allen demokratischen
      Ländern, In Deutschland genaus wie überall sonst betrachtet, ein
  Unsinn. Die Politiker an der Macht beeinflussen klarerweise, immer
  und überall die Wirtschaftspolitik. Und sie tun es zurecht, denn
  dafür wurden sie gewählt. </P>

<P>
  Diese beiden Episoden zeigen, dass die vorherrschende Meinung der
  vorherrschenden Elite, die sich in den drei Jahrzehnten vor 2008
  gebildet hatte, annahm, dass man wüsste wie Volkswirtschaften
  funktionieren. Volkswirtschaften seien wie physikalische System
  deren Mechanik man nun verstanden habe. Daher wäre es auch
  eindeutig, was gerade das Richtige zu tun wäre und abweichende
  Meinungen könne man ignorieren und überdauern sowieso nicht
  lange. Doch heute kristallisiert sich immer klarer heraus, dass
  Wirtschaftspolitik immer eine Abwägung von Interessen verschiedener
  Gruppen bedeutet, und während der Jahre 1980-2008 wurden die
  Interessen der Eliten systematisch mehr berücksichtigt als
  Interessen anderer
  Gruppen (übrigens auch zwischen 2008-2020!). Diese wurde von eben jenen Eliten damit begründet, dass man
  eben wisse, wie Wirtschaft funktioniere und was das beste für alle
  wäre (siehe Schäuble und Greenspan).</P>

       {% include image.html url="/assets/images/AdamTooze.jpg"
    description=""  width="300px"
    align="right" %}

<P>
  Eine interessante Frage ist dabei, inwieweit  diese
  wirtschaftlichen und politischen Eliten zwar gutwillig waren sich
  aber geirrt hatten, oder in welchem Maße sie die Gesellschaften zu
  ihrem Nutzen manipuliert hatten. Sicher war, und ist, es eine
  Mischung aus beiden Faktoren. Bei Personen bei denen der erstere
  Faktor dominiert, ist es erstaunlich mit welcher Gewissheit und
  Selbstgefälligkeit an diesem Irrtum festgehalten wurde, auch lange
  nachdem man es wirklich besser hätte wissen können. Denn zum Bild
  gehört auch, dass es immer Stimmen, auch von sehr renomierten
  Wirtschaftswissenschaftlern gegeben hat, die diesem Irrtum nicht
  erlegen waren. Thomas Piketty hat viele Jahre zum Thema Ungleichheit
  geforsch und veröffentlicht und sein Bestseller <em>The Capital in the
  21st Century</em> ist 2013 erschienen. Trotzdem wurde bei den Maßnahmen
  zur Eurokrise auch in den Jahren danach die Verminderung der
  Ungleichheit kein Augenmerk geschenkt und zahlreiche Maßnahmen
  durchgesetzt, die die Ungleichheit vorhersehbar befeuern. Es gab
  also immer Ökonomen, die sehr wohl verstanden  "that it is
  unreasonable to expect markets to always deliver outcomes that are
  just, acceptable or even efficient" (<em>Good Ecomomics for Hard
    Times</em> by Abhijit V. Banerjee and Esther Duflo, 2019).</P>

<P>
  Obwohl, oder vielleicht auch weil, das Buch nicht offensichtlich
  eine Hauptthese ausbreitet und gezielt abarbeitet sondern eher zu
  eigenen Interpretationen einlädt, liest sich diese detailreiche,
  flüssig geschrieben Retrospektive der Krisen zwischen 2007 und 2017
  mit großem Gewinn. Ich hoffe, wir müssen nicht ähnliche Narrative im
  Jahr 2030 lesen, wenn wir versuchen die Folgen der Corona Pandemie
  zu verstehen.</P>

<P>  (AJ März 2020) </P>

