---
layout: posts
title: "En katts resedagbok"
---


<!-- ----------------------------------------------------------------------------- -->
<!-- ----------------------------------------------------------------------------- -->
<h2>En katts resedagbok,</h2>
<h3> av Hiro Arikava </h3>
<h3>Nona 2019 (2015)</h3>


{% include image.html url="/assets/images/Resedagbok-1.jpg"
    description=""  width="200px"
    align="left" %}

<P> Enligt Philip följer svenska översättningar av japanska böcker
 originalens språkrytm mycket bättre än engelska
 eller tyska översättningar. Jag kan inte bedöma om hans teori återspeglar
 en underliggande likhet av båda språk och deras konstruktion gällande hur långa meningar
 är, hur de är uppbyggda och hur formuleringar skaffar de rätta
 associationer. Men jag vill gärna tro det eftersom det sättet som
 berättelsen flyttar på är mycket speciellt och ibland nästan
 hypnotiserande. Så jag hoppas att originalet framkallar liknande
 känslor och har samma inverkan på läsaren</P>

 <P> Berättelsen utvecklas långsam och över långa perioder
 behandlas ytterligheter och trivialiteter. Intrycket förstärks genom
 perspektiven. Större delen av berättelsen beskrivs utifrån kattens
 perspektiv. Men det låga tempot och den betoning av
 ytterligheter döljer den verkliga berättelsen. I alla fall tog det för mig länge tills jag begrepp vad det
 handlar om. </P>

{% include image.html url="/assets/images/Resedagbok-2.jpg"
    description=""  width="170px"
    align="right" %}
 <P> Katten heter Nana och ser inte alls ut som katten som syns på
 framsidan. Han är nämligen vit med en svart svans. Nana betyder "sju"
 och fick namnet eftersom svansen ser ut som en sjua. Ärligt talat vet
 jag inte hur man ska föreställa sig en sådan svans. Nana är en
 strykerkatt och blir adopterad av Suroki, en katt älskare. Suroki
 reser genom halva Japan för att hitta en ny husse åt Nana. På resan
 träffar dem många, eller alla, nära vänner till Suroki från skol- och
 studietider. Nana förstår inte syftet med resan och varför en ny
 husse ska hittas, men uppenbarligen njuter båda av att resa tillsammans.
 Det finns en djup och ömsesidig tillgivenhet
 mellan Nana och Suroki, och denna kärlek är den egentliga kärnan av
 berättelsen. </P>

 <P> Boken börjar långsam och lågmäld men i slutet berör den
 djupt. En vacker bok!

 <P> (AJ April 2020) </P>

