---
layout: posts
title: "Fruit from the Sands"
---
<!-- ----------------------------------------------------------------------------- -->
<!-- ----------------------------------------------------------------------------- -->
<h2>Fruit from the Sands - The Silk Road Origins of the Food We Eat,</h2>
    <h3> by Robert N. Spengler III</h3>
    <h3>University of California Press, 2019</h3>
    
    The grains and legumes, fruits and vegetable, nuts and spices that
    we eat today, are the result of 10000 years of coevolution with
    humans on all continents, but mainly across Asia. R. N. Spengler
    traces the origins of our common food on the Asian contient from
    East Asia to the Mediterranean.     

     {% include image.html url="/assets/images/FruitsSands.jpg"
    description=""  width="300px"
    align="right" %}
    
    <P>
    We learn that Broomcorn Millet (Rispenhirse) and Foxtail Millet
    (Kolbenhirse) have grown wild across much of central and south western
    Asia but have probably been domesticated in the Yellow River planes of
    Northern China in the 6th millenium BC. From there they spread through
    central Asia and arrived in Eastern Europe in the 2nd millenium BC. It
    was "arguably the most influential crop of the ancient world", and
    "became the crop that turned the chariot wheels of the Roman empire
    and fed Eastern Europe".
    </P>

    <P>
      Rice has been domesticated one and a half times: First, in the 7th
      mellenium BC in the Yangtse River valley. A different variaty, with
      longer grain shapes, has been domesticated in India, perhaps the
      Ganges region. While these two rice varieties, the rounder Chinese and
      the longer shaped Indian, have developed separately with a common
      ancestor between 86 000 and 200 000 years ago, they share genes, that
      carry the traces of domestication. So probably the domesticated
      Chinese rice has hybridized with the Indian rice during the latter's
      domestication process.</P>

     {% include image.html url="/assets/images/FertileCrescent.jpg"
    description="The Fertile Crescent (Fruchtbarer Halbmond)  where
    farming first developed more than 10 000 years 
    ago. The domesticated plants are called the founder crop complex."
    width="300px" 
    align="left" %}
    
    <P>
      Like barley (Gerste) wheat has an even longer history under human
      dominion. Both have been domesticated before the 8th mellenium in the
      Fertile Crescent (Fruchtbarer Halbmond) of West Asia. Wheat, like all
      other plants discussed in this book, does not have a linear or
      tree-like genetic development. Because of frequent hybridization
      today's modern varieties are more the result of a web-like development
      with partially shared and partially independent gene
      pools. Hybridization means that different parent varieties, that have
      long developed separately, merge again leading to novel combinations
      of genes and attributes. Sometimes, when two parents are so different
      that their chromosomes cannot even match up correctly during
      reproduction, the chromosomes may be completely duplicated, so that
      the offspring has a full set of chromosomes from both parents. Such an
      offspring is called duploid. Of the five distinct forms of modern
      wheat, two are diploid, two are tetraploid and one is hexaploid. The
      latter one is today the preferred ingredient for bread because it has
      a higher proportion of gluten.
    </P>

    <P>
      There exists an astonishing variety of legumes (Hülsenfrüchte) some of
      which have been independently domesticated in the Americas, China,
      South Asia and South West Asia. The earliest domestication of beans,
      peas, chick peas, grass peas, bitter vetch, fava beans and lentils
      happend also more than 10 000 years ago in the Fertile
      Crescent. Together with grains such as wheat and barley they form the
      founder crop complex.
    </P>
    
    <P>
      The histories of apples, grapes, lemons, nuts, leafy vegetables,
      spices, oil fruits and tea are similarly interesting. They all have
      been domesticated once or several times in China, South, Central or
      Western Asia and then moved with velocities of 1000km/century to
      1000km/millenium across the continent to become popular at some other
      corner of the ancient or the modern world. E.g. millet hass originated
      in China's northern plains and has then a few thousand years later
      provided the fuel for the Roman empire. Wheat has emerged in Western
      Asia to become the most important grain in Northern China used in
      dumplings and noodles. Millenia later the latter has been integrated
      in Meditaranien kitchen to become a hallmark of Italian culture and
      identity.</P>
    
    <P>
      So after thousands of years of develoment, domestication, and
      migration the food we are used today is truely global originating from
      all continents and all corners of the planet. </P>
    
    <P> (AJ February 2020) </P>

