---
layout: posts
title: "Träumer"
---


<!-- ----------------------------------------------------------------------------- -->
<!-- ----------------------------------------------------------------------------- -->
{% include image.html url="/assets/images/Traumer-2.jpg"
   description=""  width="300px" align="right" %}
<h2>Träumer - Als die Dichter die Macht übernahmen,</h2>
<h3> von Volker Weidermann</h3>
<h3>Kiepenheuer & Witsch, 2. Auflage 2018</h3>


<P> Das Buch behandelt in Weidermannstil die Ereignisse in München
  zwischen November 2018 und Mai 2019. Weidermannstil ist eigentlich
  Zweigstil und zeichnet sich dadurch aus, das die Handlung subjektiv
  aus der Sicht der einzelnen Personen und reichhaltig mit 
  Zitaten gespickt, erzählt wird. Die Sprache ist leichtfüßig, manchmal blumig,
  was bewirkt, dass auch schwere Szenen wie Gemetzel 
  lesbar sind und trotzdem berühren. 
</P>

<P> Nach der Novemberrevolution übernahm Kurt Eisner die Regierung in
  München, der dann die Wahlen am 12. Jänner 1919 desaströs verlor und
  am 21. Feber erschossen wurde. Nach wechselnden Koalitionen und
  Machtkämpfen wurde am 6. April die Räterepublik ausgerufen mit Ernst
  Toller als Leiter des Zentralrats. Am 1. Mai nahm diese Episode mit
  dem Einmarsch der Reichswehr ein blutiges Ende. 
</P>

   {% include image.html url="/assets/images/Traumer-1.jpg"
    description=""  width="150px"
    align="left" %}
<P> Die handelnden Personen des Buches waren mit Kurt Eisner, Ernst
  Toller, Oskar Maria Graf, Rainer Maria Rilke, Thomas Mann, Gustav
  Landauer und anderen meist Dichter, Literaten oder
  Theaterkritiker. Weidermann beschreibt aus der Sicht dieser
  Idealisten  die 
  Wirren dieser Monate, die oftmalige Unvereinbarkeit von Idealen und
  Wirklichkeit, die Fehleinschätzungen der handelnden Personen und die
  Radikalisierung der Bewegungen im Laufe der Monate. Die Revolutionen
  und Umstürze dieser Zeit blieben meist unblutig; erst die
  Niederschlagung im Mai 1919 brachte Gemetzel, Hinrichtungen und
  tausende Opfer mit sich.  
</P>

{% include image.html url="/assets/images/Traumer-3.jpg"
    description=""  width="150px"
    align="right" %}
<P> Wie schon in seinem Buch "Ostende" sieht auch hier Weidermann
  Dichtern beim Scheitern zu, mit viel Sympathie zwar aber doch
  schonungslos. Während die Personen in "Ostende" persönlich tragische
  Schicksale aufgrund der Naziwirren erfahren, so versagen sie in "Träumer" beim
  Umsetzen ihrer Ideen an der gesellschaftlichen Wirklichkeit. 
</P>

<P> Da das Buch sehr spezielle Perspektiven einnimmt, wird der
  informative Wikipedia Eintrag
  zur <a href="https://de.wikipedia.org/wiki/M%C3%BCnchner_R%C3%A4terepublik">Münchner
  Räterepublik</a> 
  parallel dazu mit Gewinn studiert. Weidermann's Buch
  liest sich spannend und leicht, regt zum Nachdenken und 
  zum Vergleich mit heutigen Krisen an. Mit seinen sehr
  detailreich recherchierten Zitaten führt es auch übergroß vor Augen,
  wie behaftet in zeitgenössischen Klischees auch die klügsten Köpfe
  sind, wie sehr ihre Ansichten das Produkt der zur Zeit ventilierten
  Meinungen sind, und wie zufällig ihre Meinungen und Handlungen oft
  erscheinen. 
  </P>

<P>  (AJ April 2020) </P>



