---
layout: posts
title: "Flüssiges Land"
---


<!-- ----------------------------------------------------------------------------- -->
<!-- ----------------------------------------------------------------------------- -->
<h2>Das Flüssige Land,</h2>
<h3> von Raphaela Edelbauer</h3>
<h3>Klett-Cotta 2019</h3>


{% include image.html url="/assets/images/FluessigesLand.jpg"
    description=""  width="300px"
    align="left" %}
<P> Der Roman fasziniert und ist spannend bis zur letzten Seite. Schon sehr
  bald, noch ehe der Ort Groß-Einland gefunden wird, erscheint die
  Geschichte kafkaeskisch. Physikalische, ökonomische, psychologische
  und historische Unmöglichkeiten werden geschickt mit plausiblen,
  banalen und möglichen Details gemischt, dass ich als Leser bis zum Schluß
  nicht weiß, woran ich bin. Die Ich-Erzählerin, eine 
  Physikerin mit der Theory der Zeit als Forschungsthema, wird in
  Groß-Einland in Ereignisse verstirckt, die die Geschichte des Ortes
  seit dem 17. Jahrhundert betrifft, aber auch ihre eigene Geschichte
  und die ihrer Eltern und Großeltern. Obwohl sie in diesem Ort nur
  ein paar Tage bleiben will um das Begräbnis ihrer plötzich
  verstorbenen Eltern zu organisieren, bleibt sie schließlich drei,
  oder sechs Jahre dort.
</P>

<P> Vieles ist unklar und geheimnisvoll. Den Ort gibt es
  eigentlich gar nicht, er kann nur schwer gefunden werden, und er wird
  langsam von einem Loch verschlungen das durch jahrhundertelange
  Bergwerkstätigkeiten entstanden ist, wobei unklar ist, was dabei genau
  abgebaut wurde. Manchmal erscheint der Ort von der Größe eines
  Dorfes zu sein, dann wieder wieder eher eine Kleinstadt. Groß-Einland
  wird in feudaler Manier von einer Gräfin beherrscht, die aber
  vermutlich keine richtige Adelige ist, und gleichzeitig mutet es
  durchaus wie eine moderne österreichische Gemeinde mit Bürgermeister
  an. Vieles erscheint ausgesprochen geheimnisvoll, doch bleibt der
  Roman von Anfang bis Ende spannend, weil man als Leser meint, die
  Auflösung der Geheimnisse ist möglich und wird auch demnächst
  geboten.  </P>

{% include image.html url="/assets/images/Edelbauer.jpg"
    description=""  width="250px"
    align="right" %}

<P> Was mich aber so sehr an Prozess und Schloss erinnert ist die
  durchgängige Mehrdeutigkeit der Situation der Ich-Erzählerin. Ist
  sie die treibende Kraft, die die richtigen Fragen stellt und
  schrittweise die Antworten dazu findet? Oder ist sie ein Objekt das
  manipuliert wird? Oder wird sie 
  unter Einfluss von Drogen von Wahnvorstellungen geplagt? Oder ist
  sie gar Opfer einer unintuitiven Zeitkonstellation in einem
  unintuitiven Universum? </P>

<P> Wie auch immer, das Buch ist faszinierend, die Geschichte
  ungewöhnlich, und das Lesevergnügen durchgehend.
  </P>

<P>  (AJ April 2020) </P>



