---
layout: posts
title: "Der Europäische Traum"
---

<!-- ----------------------------------------------------------------------------- -->
<!-- ----------------------------------------------------------------------------- -->
<h2>Der europäische Traum - Vier Lehren aus der Gechichte,</h2>
<h3> by Aleida Assmann</h3>
<h3>C.H. Beck, 2018</h3>

       {% include image.html url="/assets/images/AleidaAssmann-3.jpg"
    description=""  width="300px"
    align="left" %}

<P> Der Titel ist in zweifacher Weise irreführend. Zum einen ist das
  Buch sehr Deutschland fokusiert, da es zu einem wichtigen Teil um
  Deutschland handelt und Europa meist aus deutscher Perspektive
  thematisiert wird. Zum anderen wird in dem Buch eine Zukunftsvision
  nur implizit vorgestellt; als Leser habe ich den Eindruck
  "Traum" wird in dem Sinne verwendet, wie man als Individuum
  träumt, nämlich um Vergangenes hin- und herzuwälzen und um es zu be-
  und verarbeiten.
</P>

<P> Doch abgesehen vom irreführenden Titel ist das Buch erhellend, da
  es die Kernerrungenschaften des einzigartigen europäischen
  Experiments klar herausarbeitet. Es tut dies mit der Formulierung
  von vier Lehren aus der Geschichte:

  <ul>
    <li> Friedenssicherung - Wie aus Erzfeinden kooperierende Nachbarn
      werden,
    <li> Rechtsstaatlichkeit und Demokratisierung,
    <li> Historische Wahrheit und Erinnerungskultur,
    <li>Menschenrechte.
  </ul>
  Diese vier Errungenschaften sind, so Assmann, direkte Lehren aus den
  beiden Weltkriegen und dem kalten Krieg 1945-1989, und sie sind zu
  einem wichtigen Teil in die Verfassungen der meisten europäischen
  Länder und in die EU Verträge von Portugal hineingeschrieben. Damit
  sind sie tief in der Institutions-DNA Europas verankert. Das Buch
  zeigt an Beispielen, dass diese Verankerung nicht in einem Big-Bang
  1945 entstand, sondern einen Prozess darstellt, der mittlerweile 70
  Jahre andauert, unvollständig ist und sich auch als umkehrbar erweist.  
</P>

<P>Das Buch handelt viel um das Ziehen dieser Lehren als Prozess, der
  sich mit der Darstellung von Vergangenem befasst. Insofern könnte
  als Motto des Buches das George Orwell Zitat dienen:

  <blockquote><em>
  Who controls the past, controls the future;
  <br>who controls the present, controls the past.</em>  
  </blockquote>

  Mit Ausnahme des erfrischenden Kapitels über die Erinnerung an und
  die immer noch 
  stattfindende Aufarbeitung des spanischen Bürgerkrieges 1936-1939,
  wird das Thema Deutschland-zentriert behandelt, indem das
  Entstehen der recht Einzigartigen Erinnerungskultur in Deutschland
  herausgearbeitet wird. Doch besonders interessant ist der Text, wenn
  er eine europäische Perspektive einnimmt. So wird sehr schön
  illustriert, dass praktisch alle europäischen Länder ihre eigenen
  historischen Narrative haben, an denen sie hartnäckig festhalten,
  und die immer unsensibel gegenüber den Narrativen der Nachbarn sind
  und oft mit diesen auch inkompatibel. Dies wird mit <em>monologischem
  Erinnern</em> von Schwerhörigen verglichen, die einander kaum
  zuhören und nicht verstehen. Was es mehr braucht
  ist <em>dialogisches Erinnern</em> und tatsächlich gibt es wichtige
  Beispiele und auch Fortschritte in diese Richtung.

   {% include image.html url="/assets/images/AleidaAssmann-1.jpg"
    description=""  width="200px"
    align="right" %}

  <br> 
  Ein schönes Beispiel ist das
  <a href="https://de.wikipedia.org/wiki/Franz%C3%B6sischer_Nationalfriedhof_Notre-Dame-de-Lorette">
  Weltkriegsdenkmal in Arras</a>, Frankreich, 
  das Präsident Holland 2014
  einweihte. Es enthält die Namen von 580 000 getöteten Soldaten
  in <em>alphabetischer Reihenfolge</em>, also ohne sie nach
  Regimentern, Armeen oder Nationen zu ordnen, ohne sie in Angreifer und
  Verteidiger, Täter und Opfer einzuteilen. Bei diesem transnationalen
  Monument sollte die gemeinsame Trauer über die Verluste des Krieges
  im Zentrum stehen, und nicht ein patriotisches Narrative über Sieg
  oder Opfer, wie sonst sehr oft.

  <br> Trotzdem muss man konstatieren, dass monologisches Erinnern der
  bei weitem vorherrschende Modus ist. 
  </P>


<P> Insgesamt hat A. Assmann ein lesenswertes und gut lesbares Buch
  geschrieben, das viele interessante Einsichten und Beispiele sammelt
  und wesentliche Elemente eines schon bestehenden europäischen
  Narratives beschreibt aber auch darlegt, wo es große Mängel und viel
  Nachholbedarf gibt. Zu Recht versteht sich das Buch auch als eigenen
  Beitrag zu einem europäischen  Narrativ. 
</P>

<P>  (AJ April 2020) </P>

