---
layout: posts
title: "Ostende"
---


<!-- ----------------------------------------------------------------------------- -->
<!-- ----------------------------------------------------------------------------- -->
{% include image.html url="/assets/images/Weidermann.jpg"
    description=""  width="200px"
    align="left" %}

<h2>Ostende</h2>
<h3>von Volker Weidermann</h3>
<h3>btb, 2017</h3>

<P> Weidermann beschreibt, im Zweig-Stil, die Situation, in der sich
  Stefan Zweig, Josef Roth, Irmgard Keun, Arthur Koestler, Erwin
  Kisch, Will Münzenberg, Hermann Kesten und andere am Vorabend des
  Zweiten Weltkrieges befinden. Ort und Angelpunkt ist der Sommer 1936
  in Ostende, wo sich viele der handelnden Personen treffen, doch
  werden die Biographien der Haptpersonen und deren Verwandte und
  Bekannte auch einige Jahre davor und danach behandelt. </P>

    {% include image.html url="/assets/images/ZweigRoth.jpg"
    description="Stefan Zweig und Joseph Roth in Ostende 1936"  width="150px"
    align="right" %}

<P> Es ist dies eine anmutiger Momentaufnahme einiger Schicksale, die
  vom Nationalsozialisums aus Deutschland vertrieben, versuchen, sich
  in in der Welt zu orientieren und Halt zu finden. Niemandem gelingt
  dies wirklich und das Leben fast aller endet tragisch. Trotzdem
  liest sich diese Minatur leicht und angenehm, und vermittelt ein
  nuanciertes Bild von Zeit, Ort und Personen. </P>

<P> (AJ January 2020)</P>

